@import "tailwindcss";

@theme {
  --color-brand-primary: #11528a;
  --color-brand-primary-hover: #0d4472;
  --color-brand-accent: #48ab59;
  --color-brand-accent-light: #eaf7ed;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #ededed;
    --color-background: #0a0a0a;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0a0a0a;
    color: #ededed;
  }
}